:host {
  display: block;

  width: 100%;
  height: 100%;
}

.view {
  display: flex;
  align-items: center;
  flex-direction: column;

  width: 100%;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;

  text-align: center;
}

.view--title,
.view__value,
.view--created-at {
  width: 100%;

  letter-spacing: 0.1em;

  span {
    font-size: 14px;
    font-weight: 300;

    display: block;

    opacity: 0.75;
  }
}

.view--title {
  font-size: 18px;
  font-weight: 400;
}

.view__value {
  line-height: 1;

  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;

  .view__value--prev {
    font-size: 18px;
    font-weight: 400;

    display: none;

    span {
      margin: 0 0 5px;
    }
  }

  .view__value--last {
    font-size: 32px;
    font-weight: 700;

    span {
      margin: 20px 0 5px;
    }
  }
}

.view--created-at {
  font-size: 14px;
  font-weight: 300;
}
