.title {
  display: flex;
  flex-direction: column;
  justify-content: center;

  height: 50px;
  margin: 10px 10px 5px;
  padding: 10px;

  background-color: #9e9e9e;
}

.tiles {
  display: grid;

  margin: 5px;

  grid-auto-flow: dense;
  grid-auto-rows: calc(50vh - 45px);
  grid-template-columns: repeat(auto-fit, minmax(25vw, 1fr));
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100vw;
  height: 100vh;
}
