<ng-container *ngIf="channel$ | async as channel; else loading" (click)="refreshChannel()">
  <div class="title">
    {{channel.channelName}}
    <auto-refresh [RefreshEveryMinutes]="1" (Refresh)="refreshChannel()"></auto-refresh>
  </div>

  <div class="container">
  <div class="grid-row"/>
    <ng-container *ngFor="let feed of channel.feeds">
      <div *ngIf="getSettings(channel.channelId, feed.field.fieldId) as settings" class="grid-item">
        <weight-view [feed]="feed" [settings]="settings" [locale]="getLocale()"></weight-view>
      </div>
    </ng-container>
  </div>
  </div>
</ng-container>

<ng-template #loading>
  <div class="loading">Loading...</div>
</ng-template>

